
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Applying for a juggling licence
      </h1>
      <p>
        Read this page if you want to apply for a juggling licence.
      </p>

      <p>
        However, there are finer things to do in life, so maybe you should re-think your priorities in life.
      </p>

      <h2 class="govuk-heading-m">Jugglers are known to be horrible people</h2>

      <p>We really recommend that you do not apply for a licence. However, if you really have to, you can follow the links below.</p>

      <h2 class="govuk-heading-m">Ready to apply for a juggling licence?</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">
            Apply for a juggling licence (prototype)
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
